@import "tailwindcss";

@theme inline {
  --color-gn-primary: #20305C;
  --color-gn-primary-light: #1A2D61;
  --color-gn-primary-dark: #0E1F4E;
  --color-gn-gray: #838593;
  --color-gn-text: #272830;
  --color-gn-stroke: #E4EBF5;
  --color-gn-input: #FAFBFC;
  --color-gn-red: #CF132D;
  --font-sans: "Inter", sans-serif;
}

body {
  font-family: var(--font-sans);
}

.card-scroll {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.card-scroll::-webkit-scrollbar {
  width: 4px;
}

.card-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.card-scroll::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 9999px;
}

.group:hover .card-scroll {
  scrollbar-color: #d1d5db transparent;
}

.group:hover .card-scroll::-webkit-scrollbar-thumb {
  background: #d1d5db;
}
